/* Set margin and padding to 0 for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Set background color for the body */
body {
  background-color: #e9e9e9;
}

/* Center align the h1 element and add padding to the top */
header {
  text-align: center;
  margin: 5%;
}

/* Create a container for the todo list */
.todo-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create a wrapper for the list items */
.sub-container {
  max-width: 768px;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #8b8686;
  box-shadow: 0 2px 5px #ff0404;
}

/* Set color for the icon */
.icon {
  color: #acadae;
}

/* Set height and width for the dots icon */
.dots {
  height: 40px;
  width: 40px;
  padding-left: 4%;
}

/* Hide the element and set its height and width */
.hidden {
  display: none;
  height: 40px;
  width: 40px;
}

/* Set height, border and alignment for the div element */
.content-container {
  height: 4rem;
  border-bottom: 1px solid #8b8686;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

/* Set height, width, border, font size, style and color for the add input */
.userInput {
  height: auto;
  width: 98%;
  border: none;
  font-size: 1.5rem;
  font-style: italic;
  color: #8b8686;
}

/* Remove the outline when the add input is focused */
.userInput:focus {
  outline: none;
}

/* Set the width for the span icon */
span {
  width: 2%;
}

/* Set display, alignment, gap and dimensions for the listdiv element */
.task-sub-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

/* Set border, background color and alignment for the delete button */
.delete {
  border: none;
  background-color: transparent;
}

/* Set alignment, font size, height, width and border for the list label */
.userTask {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
  width: 90%;
  border: none;
}

/* Remove the outline when the list label is focused */
.userTask:focus {
  outline: none;
}

/* Set display, alignment, font size, height, width, border and resize for the textarea */
.textarea {
  display: none;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
  width: 90%;
  border: none;
  resize: none;
}

/* Set width, border, text alignment, font size, justification and color for the button */
.clear-btn {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
  color: #8b8686;
}

i,
.clear-btn,
.check  {
  cursor: pointer;
}


